$colors: (
  cream: hsl(30, 38%, 92%),
  white: hsl(0, 0%, 100%),
  darkGrayishBlue: hsl(228, 12%, 48%),
  veryDarkBlue: hsl(212, 21%, 14%),
  green: hsl(158, 36%, 37%),
);

$font-family: (
  Fraunces: "Fraunces",
  Montserrat: "Montserrat",
  Outfit: "Outfit",
  Young-Serif: "Young Serif",
);

$font-sizes: (
  small: clamp(0.3rem, 0.2rem + 1vw, 1.2rem),
  medium: clamp(0.5rem, 0.4rem + 1vw, 1.5rem),
  large: clamp(1rem, 1rem + 1vw, 3rem),
);
